
.figure  {  font-family: "Computer Modern Serif", serif;
            margin-left:  auto;
			      margin-right: auto;
			      font-size: 66%;
  -webkit-print-color-adjust: exact;
         }

.caption { text-align:   center;
	         margin-left:  auto;
	         margin-right: auto;
	         padding: 1.5em 0 1.5em 0;
	       }

.figbody {
		       text-align:   center;
	         margin-left:  auto;
	         margin-right: auto;
	         border-style: double none solid none;
	         border-width: 3pt 0 1pt 0;
	         width:        100%;
         }

.figbody td {
				      padding: 0.2em 0.5em 0.2em 0.5em;
            }

.tangram { border-spacing: 0; }

thead td {text-align: center;}

.subheader    { font-size: smaller; }

.subheader tr { border-collapse: collapse; }
.subheader td { border-bottom: 1pt solid black; }

tbody .variable {
	float:      left;
	text-align: left;
}

.units {
	float:      right;
	font-size:  x-small;
	text-align: right;
	padding-left: 1em;
	vertical-align: text-bottom; /* FIXME why doesn't this work */
}

thead .header {font-weight: bold;}
.header.N  { font-style: italic; }

.nobr {
   white-space: nowrap;
}

.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.55em;
   line-height: 1.35em;
   font-size: x-small;
   text-align: left;
}

.sup { font-size: x-small; vertical-align: super; }
.sub { font-size: x-small; vertical-align: sub;}

