body .figbody {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 66%;
  -webkit-print-color-adjust: exact;
}

.figure  {  margin-left:  auto;
			      margin-right: auto;
}
.caption { text-align:   left;
           text-indent: 2em;
	         padding: 0.5em 0 0.5em 0;
	         font-weight: bold;
	         background-color: #f7f4ef !important;
	         border: 1px solid black;
	     }

.figbody {
	text-align:   center;
  border:       1px solid black
}

.figbody table {
  margin: 0;
  width: 100%;
}

.figbody td {
	padding: 0.2em 0.5em 0.2em 0.5em;
}

.figbody thead tr td
{
    font-weight: bold;
}

.figbody tbody tr:nth-child(odd) {background: #fffbed !important;}

.header td {text-align: center;}

.subheader    { font-size: smaller; }
.subheader td { text-align: center; /* border-bottom: 1pt solid black; */ }

.subheader em {font-style: normal;}

tbody .variable {
	float:      left;
	text-align: left;
	padding-left: 0.5em;
}

.units {
	float:      right;
	font-size:  x-small;
	text-align: right;
	padding-left: 1em;
	vertical-align: text-bottom; /* FIXME why doesn't this work */
}


td .align{
	display: inline-block;
	margin: 0 auto;
}

.nobr {
   white-space: nowrap;
}
.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.55em;
   line-height: 1.35em;
   font-size: 70%;
   text-align: left;
}

.statistics {font-style: italic;}
.statistics {padding-right: 0.5em;}
